

<div class="row">
<div class="small-12 columns">




<div class="small-6 columns">
<br><br>
	<h5>Reach us at our Head Office</h5>
	<p>We stock a large range of Steel Tubes at our Warehouse in Hyderabad. We can service

your requirements at any station in South India
</p>


<div align="center">
<h5>Head Office</h5>	
 <h6>MS NORTH INDIA STEEL TUBES</h6>
 <address>	
 	317,ISPAT Bhavan, 3rd Floor<br>
 	Distillery Road<br>
 	Rani Gunj,<br>
 	Secunderabad-500003<br>
 	Telangana<br>
 	India
       

     </div>   

</div>


<div class="small-6 columns">
<p align="center">Find Us On Google Maps</p>


<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3806.565236677673!2d78.490822!3d17.432640000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9a1ecf000001%3A0x26989b9f96c8850e!2sNorth+India+Steel+Tubes!5e0!3m2!1sen!2s!4v1407755851193">
</iframe> 
<br />
 <small><a href="http://maps.google.mu/?ie=UTF8&amp;ll=-20.234496,57.603722 &amp;spn=0.093419,0.169086&amp;t=m&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map </a> </small>


<br><br><br>
</div>

</div>

<br><br><hr>


<div class="small-12 columns">

<div class="small-6 columns">
<p align="center">Find Us On Google Maps</p>


<iframe width="425" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15299.903313593259!2d80.59482875000002!3d16.52731790000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35efcf00bc4545%3A0x5bd4dcc4b1201fb0!2sBhavanipuram%2C+Vidhyadharpuram%2C+Vijayawada%2C+Andhra+Pradesh!5e0!3m2!1sen!2sin!4v1407835550138" width="600" height="450" frameborder="0" style="border:0"></iframe> 
<br />
 <small><a href="http://maps.google.mu/?ie=UTF8&amp;ll=-20.234496,57.603722 &amp;spn=0.093419,0.169086&amp;t=m&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map </a> </small>


<br><br><br>
</div>


<div class="small-6 columns" id="vijay">
<br><br>
	<h5>Reach Us at Our Branch Office</h5>
	<p>We also have branches in other parts of India. We can also service

your requirements at any station in South India.
</p>

<div align="center">
<h5>Branch Address</h5>	
 <h6>MS NORTH INDIA STEEL TUBES</h6>
 <address>
 	D No- 76/18/119,<br> 
 	Plot No.119,<br> 
 	Iron Complex,<br> 
 	Bhavanipuram,<br> 
 	Vijayawada-520012<br>
        Andhra Pradesh<br>
        India</address>
       

     </div>   


     <h4 align="center">Contact Partners</h4>
<table width="600px" id="partners">
<tr class="d1">
<th>Name</th>
<th>Contact Details</th>

</tr>
<tr class="">
    <td>Sudharshan Raghavachari </td>
    <td>+91 9391073407</td>
</tr>
<tr class="">
    <td>Arun Bansal </td>
    <td>+91 9848015170</td>
</tr>
<tr class="">
    <td>Pramod Bansal</td>
    <td>+91 9391007719</td>
</tr>
<tr class="">
    <td>Krishna Kumar Kabra </td>
    <td>+91 9246532717</td>
</tr>

</table>

</div>




</div>


</div>


<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3806.565236677673!2d78.490822!3d17.432640000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9a1ecf000001%3A0x26989b9f96c8850e!2sNorth+India+Steel+Tubes!5e0!3m2!1sen!2s!4v1407755851193" width="310" height="350" frameborder="0" style="border:0"></iframe> -->



<style>
.row{
	background-color:;
}
.contact{
	color:orange;
}

.map{
	color:blue;
}

h5{
	color:#ff6d00;
}

table, td, th{
    border-collapse: collapse;
    border:1px solid Black;
      }
      tr.d0 td {
          background-color: #CC9999; color: black;
      }
      tr.d1 td {
          background-color: #9999CC; color: black;
      }
      tr.d1 th{
          background-color: #9999CC; color: black;
      }

</style>


