
<div class="row" style="background-color:none">
<br>
	<div class="large-12 columns">

		<div class="large-3 columns this">
<h5 align="center">Dealers For</h5><br>

    <a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
    <br><br>   
    <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
    <br><br>
    <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a>
    <hr> 
   
   <a href=""><img src="/assets/mspipes.jpg" width="250px" height="500px"></a><br><br>
   <a href=""><img src="/assets/panel.jpg" width="250px" height="500px"></a><br><br><br>
	</div>
<div class="large-9 columns">
<h5>Various Price list</h5>
<a href="#" data-reveal-id="myModal">Click Me For the Price List</a> 



<div id="myModal" class="reveal-modal" data-reveal> 
	<h2>Price List For North India Steel Pipes</h2>
	 	
	  <a class="close-reveal-modal">&#215;</a> 

</div>
<br>


    <div class="img">
 <a target="_blank" href="/assets/jindal.jpg"><img src="/assets/jindal.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Ductile Iron Pipes</div>
</div>
<div class="img">
 <a target="_blank" href="ms.jpg"><img src="/assets/desk.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">CR Tubes</div>
</div>
<div class="img">
 <a target="_blank" href="ms.jpg"><img src="/assets/desk1.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Boiler Tubes</div>
</div>
<div class="img">
 <a target="_blank" href="klematis4_big.htm"><img src="/assets/desk2.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Seamless Tubes</div>
</div>
<div class="img">
 <a target="_blank" href="klematis4_big.htm"><img src="/assets/desk3.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Galvanised Tubes GI</div>
</div>

<div class="img">
 <a target="_blank" href="klematis4_big.htm"><img src="/assets/ms.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Square & </div>
</div>
<div class="img">
 <a target="_blank" href="klematis4_big.htm"><img src="/assets/ms.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Square & Rectangular Hollow Section</div>
</div>
<div class="img">
 <a target="_blank" href="klematis4_big.htm"><img src="/assets/mspipes.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">MS ERW Black Pipes</div>
</div><br>
<hr>
	


</div>

</div>


</div>

<style type="text/css">

.this{
    border-right:solid #292929;
    border-right-width: 1px;
   }



 div.img {
    margin: 3px;
    padding: 3px;
    border: 1px solid #242424;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    background-color: #b7b7b7;
}    

div.img img {
    display: inline;
    margin: 3px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #242424;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 200px;
  margin: 5px;
}
</style>