<div class="row">
<br>
<div class="large-12 columns">
<div class="large-9 columns">

<h5>Various Price list</h5>
<a href="#" data-reveal-id="myModal">one</a> 
<div id="myModal" class="reveal-modal" data-reveal style="height:75em"> 
  <h4>One</h4>
<iframe src="/assets/pdf/one.pdf" width="100%" height="80%">
 </iframe>
    <a class="close-reveal-modal">&#215;</a> 
  </div>

  <a href="#" data-reveal-id="myModal1">two</a> 
<div id="myModal1" class="reveal-modal" data-reveal style="height:75em"> 
  <h4>Two</h4>
<iframe src="/assets/pdf/three.pdf" width="100%" height="80%">
 </iframe>
    <a class="close-reveal-modal">&#215;</a> 
</div>

  <a href="#" data-reveal-id="myModal2">three</a> 
<div id="myModal2" class="reveal-modal" data-reveal style="height:75em"> 
  <h4>Three</h4>
<iframe src="/assets/pdf/four.pdf" width="100%" height="80%">
 </iframe>
    <a class="close-reveal-modal">&#215;</a> 
</div>


  <a href="#" data-reveal-id="myModal3">four</a> 
<div id="myModal3" class="reveal-modal" data-reveal style="height:75em"> 
  <h4>four</h4>
<iframe src="/assets/pdf/five.pdf" width="100%" height="80%">
 </iframe>
    <a class="close-reveal-modal">&#215;</a> 
</div>

  <a href="#" data-reveal-id="myModal4">five</a> 
<div id="myModal4" class="reveal-modal" data-reveal style="height:75em"> 
  <h4>five</h4>
<iframe src="/assets/pdf/six.pdf" width="100%" height="80%">
 </iframe>
    <a class="close-reveal-modal">&#215;</a> 
</div>

  <a href="#" data-reveal-id="myModal5">six</a> 
<div id="myModal5" class="reveal-modal" data-reveal style="height:75em"> 
  <h4>six</h4>
<iframe src="/assets/pdf/thirteen.pdf" width="100%" height="80%">
 </iframe>
    <a class="close-reveal-modal">&#215;</a> 
</div>


    </div>

<div class="large-3 columns decrease">
 
 <br>
  <h5 style="color:#ff6d00">Our Products Range</h5>
    
      <p>Jindal India Limited</p>
      <p>Jindal Industries India Limited</p>
      <p>Jindal Pipes Limited</p>
      <p>Maharashtra Seamless Limited</p>
      <p>Jindal Saw Limited</p>
      <p>Bhushan Steel Limited</p>
      <p>Vallabh Steel Limited</p>
      <p>Asian Steel tubes</p>
      <br>
    

     <h5 align="center">Dealers For</h5><br>

    <a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
    <br><br>   
    <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
    <br><br>
    <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a>
    <hr> <br>
   
   <a href=""><img src="/assets/panel.jpg" width="250px" height="500px"></a><br><br>
   <a href=""><img src="/assets/mspipes.jpg" width="250px" height="500px"></a>
   <br><br>
</div>



</div>
</div>

    <style type="text/css">

   .row{
    background-color: none;
   }


    .decrease{
    border-left:solid #282828;
    border-left-width: 1px;
   }
    table
{
border-collapse:collapse;
width: 100%;  
border:1; 
border-color:#808080; 
text-align: center; 
cellpadding="5"
cellspacing="1"

}


 .decrease p{
  font-size: 12px;
 }

    .toplinks {
      color:#ffffff;
    }


     .a1 td{
      background-color: #f8f8f8;
     }

     .a2 td{
      background-color: #eeeeee;

     }

    </style>

<!-- <table cellpadding="5" cellspacing="1">
    
    <tbody>
      <tr>
        <td colspan="11" bgcolor="#c99"  class="toplinks"><strong>
          Specifications for Mild Steel Tubes and Tubular confirming to 
      IS - 1239 PART 1 - 1990</strong></td>
      </tr>
      <tr class ="a1">
        <td colspan="2" rowspan="2"><strong>
          Nominal 
        Bore<br>
        (NB)</strong></td>
      <td rowspan="2"><strong>
        Class</strong></td>
      <td colspan="2"><strong>
        Outside 
        Diameter</strong></td>
      <td rowspan="2"><strong>
        Thickness</strong></td>
      <td rowspan="2"><strong>
        SWG</strong></td>
      <td colspan="2" rowspan="2"><strong>
        Black MS Pipes 
        P/E</strong></td>
      <td colspan="2" rowspan="2"><strong>
        Galvanized Pipes <br>
        S &amp; 
      S</strong></td>
      </tr>
      <tr class="a1">
        <td><strong>
        MAX</strong></td>
      <td><strong>
      MIN</strong></td>
      </tr>
      <tr class="a2">
        <td><span class="style1">
        mm</span></td>
      <td><span class="style1">
        inches</span></td>
      <td><span class="style1"></span> </td>
      <td><span class="style1">
        mm</span></td>
      <td><span class="style1">
        mm</span></td>
      <td><span class="style1">
        mm</span></td>
      <td><span class="style1"></span> </td>
      <td><span class="style1">
        Kg/m</span></td>
      <td><span class="style1">
        Mtrs/Ton</span></td>
      <td><span class="style1">
        Kg/m</span></td>
      <td><span class="style1">
        Mtrs / 
      Ton</span></td>
      </tr>

      <tr class="a1">
        <td rowspan="3" >
        15</td>
      <td rowspan="3" >
        1/2"</td>
      
      <td >
        L</td>
      <td >
        21.40</td>
      <td >
        21.00</td>
      <td >
        2.00</td>
      <td >
        14</td>
      <td >
        0.947</td>
      <td >
        1056</td>
      <td >
        1.008</td>
      <td >
      992</td>
      </tr>

      <tr class="a1">
        <td >
        M</td>
      <td >
        21.80</td>
      <td >
        21.00</td>
      <td >
        2.60</td>
      <td >
        12</td>
      <td >
        1.21</td>
      <td >
        826</td>
      <td >
        1.274</td>
      <td >
      785</td>
      </tr>

      <tr class="a1">
        <td >
        H</td>
      <td >
        21.80</td>
      <td >
        21.00</td>
      <td >
        3.20</td>
      <td >
        10</td>
      <td >
        1.44</td>
      <td >
        694</td>
      <td >
        1.504</td>
      <td >
      665</td>
      </tr>

      <tr class="a2">
        <td rowspan="3" >
        20</td>
      <td rowspan="3" >
        3/4"</td>
      <td >
        L</td>
      <td >
        26.90</td>
      <td >
        26.40</td>
      <td >
        2.30</td>
      <td >
        13</td>
      <td >
        1.38</td>
      <td >
        725</td>
      <td >
        1.451</td>
      <td >
      689</td>
      </tr>
      <tr class="a2">
        <td>
        M</td>
      <td>
        27.30</td>
      <td>
        26.50</td>
      <td>
        2.60</td>
      <td>
        12</td>
      <td>
        1.56</td>
      <td>
        641</td>
      <td>
        1.632</td>
      <td>
      613</td>
      </tr>
      <tr class ="a2">
        <td>
        H</td>
      <td>
        27.30</td>
      <td>
        26.50</td>
      <td>
        3.20</td>
      <td>
        10</td>
      <td>
        1.87</td>
      <td>
        535</td>
      <td>
        1.933</td>
      <td>
      517</td>
      </tr>



      <tr class="a1">
        <td rowspan="3">
        25</td>
      <td rowspan="3">
        1"</td>
      <td>
        L</td>
      <td>
        33.80</td>
      <td>
        33.20</td>
      <td>
        2.60</td>
      <td>
        12</td>
      <td>
        1.98</td>
      <td>
        505</td>
      <td>
        2.082</td>
      <td>
      480</td>
      </tr>
      <tr class="a1">
        <td>
        M</td>
      <td>
        34.20</td>
      <td>
        33.30</td>
      <td>
        3.20</td>
      <td>
        10</td>
      <td>
        2.41</td>
      <td>
        415</td>
      <td>
        2.515</td>
      <td>
      398</td>
      </tr>
      <tr class="a1">
        <td>
        H</td>
      <td>
        34.20</td>
      <td>
        33.30</td>
      <td>
        4.00</td>
      <td>
        8</td>
      <td>
        2.93</td>
      <td>
        341</td>
      <td>
        3.048</td>
      <td>
      328</td>
      </tr>
      <tr class="a2">
        <td rowspan="3">
        32</td>
      <td rowspan="3">
        1 1/4"</td>
      <td>
        L</td>
      <td>
        42.50</td>
      <td>
        41.90</td>
      <td>
        2.60</td>
      <td>
        12</td>
      <td>
        2.54</td>
      <td>
        394</td>
      <td>
        2.671</td>
      <td>
      374</td>
      </tr>
      <tr class="a2">
        <td>
        M</td>
      <td>
        42.90</td>
      <td>
        42.00</td>
      <td>
        3.20</td>
      <td>
        10</td>
      <td>
        3.10</td>
      <td>
        323</td>
      <td>
        3.237</td>
      <td>
      309</td>
      </tr>
      <tr class="a2">
        <td>
        H</td>
      <td>
        42.90</td>
      <td>
        42.00</td>
      <td>
        4.00</td>
      <td>
        8</td>
      <td>
        3.79</td>
      <td>
        264</td>
      <td>
        3.917</td>
      <td>
      255</td>
      </tr>
      <tr class="a1">
        <td rowspan="3">
        40</td>
      <td rowspan="3">
        1 1/2"</td>
      <td>
        L</td>
      <td>
        48.40</td>
      <td>
        47.80</td>
      <td>
        2.90</td>
      <td>
        11</td>
      <td>
        3.23</td>
      <td>
        310</td>
      <td>
        3.398</td>
      <td>
      294</td>
      </tr>
      <tr class="a1">
        <td>
        M</td>
      <td>
        48.80</td>
      <td>
        47.90</td>
      <td>
        3.20</td>
      <td>
        10</td>
      <td>
        3.56</td>
      <td>
        281</td>
      <td>
        3.721</td>
      <td>
      269</td>
      </tr>
      <tr class="a1">
        <td>
        H</td>
      <td>
        48.80</td>
      <td>
        47.90</td>
      <td>
        4.00</td>
      <td>
        8</td>
      <td>
        4.37</td>
      <td>
        229</td>
      <td>
        4.525</td>
      <td>
      221</td>
      </tr>
      <tr class="a2">
        <td rowspan="3">
        50</td>
      <td rowspan="3">
        2"</td>
      <td>
        L</td>
      <td>
        60.20</td>
      <td>
        59.60</td>
      <td>
        2.90</td>
      <td>
        11</td>
      <td>
        4.08</td>
      <td>
        245</td>
      <td>
        4.295</td>
      <td>
      233</td>
      </tr>
      <tr class="a2">
        <td>
        M</td>
      <td>
        60.80</td>
      <td>
        59.70</td>
      <td>
        3.60</td>
      <td>
        9</td>
      <td>
        5.03</td>
      <td>
        199</td>
      <td>
        5.236</td>
      <td>
      191</td>
      </tr>
      <tr class="a2">
        <td>
        H</td>
      <td>
        60.80</td>
      <td>
        59.70</td>
      <td>
        4.50</td>
      <td>
        7</td>
      <td>
        6.19</td>
      <td>
        162</td>
      <td>
        6.419</td>
      <td>
      156</td>
      </tr>
      <tr class="a1">
        <td rowspan="3">
        65</td>
      <td rowspan="3">
        2 1/2"</td>
      <td>
        L</td>
      <td>
        76.00</td>
      <td>
        75.20</td>
      <td>
        3.20</td>
      <td>
        10</td>
      <td>
        5.71</td>
      <td>
        175</td>
      <td>
        6.018</td>
      <td>
      166</td>
      </tr>
      <tr class="a1">
        <td>
        M</td>
      <td>
        76.60</td>
      <td>
        75.30</td>
      <td>
        3.60</td>
      <td>
        9</td>
      <td>
        6.42</td>
      <td>
        156</td>
      <td>
        6.741</td>
      <td>
      148</td>
      </tr>
      <tr class="a1">
        <td>
        H</td>
      <td>
        76.60</td>
      <td>
        75.30</td>
      <td>
        4.50</td>
      <td>
        7</td>
      <td>
        7.93</td>
      <td>
        126</td>
      <td>
        8.215</td>
      <td>
      122</td>
      </tr>
      <tr class="a2">
        <td rowspan="3">
        80</td>
      <td rowspan="3">
        3"</td>
      <td>
        L</td>
      <td>
        88.70</td>
      <td>
        87.90</td>
      <td>
        3.20</td>
      <td>
        10</td>
      <td>
        6.72</td>
      <td>
        149</td>
      <td>
        7.122</td>
      <td>
      140</td>
      </tr>
      <tr class="a2">
        <td>
        M</td>
      <td>
        89.50</td>
      <td>
        88.00</td>
      <td>
        4.00</td>
      <td>
        8</td>
      <td>
        8.36</td>
      <td>
        120</td>
      <td>
        8.756</td>
      <td>
      114</td>
      </tr>
      <tr class="a2">
        <td>
        H</td>
      <td>
        89.50</td>
      <td>
        88.00</td>
      <td>
        4.80</td>
      <td>
        6</td>
      <td>
        9.90</td>
      <td>
        101</td>
      <td>
        10.609</td>
      <td>
      97</td>
      </tr>
      <tr class="a1">
        <td rowspan="3">
        100</td>
      <td rowspan="3">
        4"</td>
      <td>
        L</td>
      <td>
        113.90</td>
      <td>
        113.00</td>
      <td>
        3.60</td>
      <td>
        9</td>
      <td>
        9.75</td>
      <td>
        103</td>
      <td>
        10.586</td>
      <td>
      94</td>
      </tr>
      <tr class="a1">
        <td>
        M</td>
      <td>
        115.00</td>
      <td>
        113.10</td>
      <td>
        4.50</td>
      <td>
        7</td>
      <td>
        12.20</td>
      <td>
        82</td>
      <td>
        13.258</td>
      <td>
      75</td>
      </tr>
      <tr class="a1">
        <td>
        H</td>
      <td>
        115.00</td>
      <td>
        113.10</td>
      <td>
        5.40</td>
      <td>
        5</td>
      <td>
        14.50</td>
      <td>
        69</td>
      <td>
        15.552</td>
      <td>
      64</td>
      </tr>


      <tr class="a2">
        <td rowspan="3" >
        125</td>
      <td rowspan="3"  >
      5"</td>
      </tr>

      <tr class="a2">
        <td  >
        M</td>
      <td  >
        140.80</td>
      <td  >
        138.50</td>
      <td  >
        4.80</td>
      <td  >
        6</td>
      <td  >
        15.90</td>
      <td  >
        63</td>
      <td  >
        17.149</td>
      <td  >
      58</td>
      </tr>
      <tr class="a2">
        <td  >
        H</td>
      <td  >
        140.80</td>
      <td  >
        138.50</td>
      <td  >
        5.40</td>
      <td  >
        5</td>
      <td  >
        17.90</td>
      <td  >
        56</td>
      <td  >
        19.199</td>
      <td  >
      52</td>
      </tr>



      <tr class="a1">
        <td rowspan="3">
        150</td>
      <td rowspan="3">
      6"</td>
      </tr>
      <tr>
        <td>
        M</td>
      <td>
        166.50</td>
      <td>
        163.90</td>
      <td>
        4.80</td>
      <td>
        6</td>
      <td>
        18.90</td>
      <td>
        53</td>
      <td>
        20.300</td>
      <td>
      49</td>
      </tr>
      <tr class ="a1">
        <td>
        H</td>
      <td>
        166.50</td>
      <td >
        163.90</td>
      <td>
        5.40</td>
      <td>
        5</td>
      <td>
        21.30</td>
      <td>
        47</td>
      <td>
        22.922</td>
      <td>
    44</td>
      </tr>

    </tbody>
  </table> -->
